/* I tried to not work with flex , grid, float her so the styling and the positioning was a mess */
/* the style for the elements of the page */
:root {
  --primary-color: #1f4529;
  --secondary-color: #e8ecd7;
  --third-coloe: #eed3b1;
  --background-color: #ffffff;
  --text-color: #555555;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--background-color);
}

/* This is navbar style  */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: var(--primary-color);
  z-index: 100;
}
.navbar {
  text-align: right;
  /* gap: 2rem; */
}
.navbar a {
  position: relative;
  color: var(--secondary-color);
  margin-left: 40px;
  font-size: 1.2rem;
}
.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  width: 0;
  background: #ffffff;
  transition: 0.3s;
}
.navbar a:hover::before {
  width: 100%;
}
.navbar a:hover {
  color: var(--third-coloe);
}

p {
  padding-left: 1rem;
  color: var(--text-color);
  font-size: 1.2rem;
  text-align: justify;
}
/* This is the home page style */
#home {
  background-color: var(--secondary-color);
}
.home-page {
  position: relative;
  margin: 0 6rem;
  padding-bottom: 13rem;
}
.decore4 {
  position: absolute;
  width: 7rem;
  right: 5rem;
  bottom: 11rem;
}
.home-page .content {
  position: absolute;
  width: 30rem;
  right: 0;
  top: 12rem;
}
.home-page .content h1 {
  font-size: 4rem;
  color: var(--primary-color);
}
.home-page .content h2 {
  font-size: 4rem;
  margin-bottom: 10px;
  color: #1f4529;
}
span {
  color: var(--third-coloe);
}
.home-page .content p {
  background-color: #1f4529;
  color: #e8ecd7;
  padding: 0.5rem 0.5rem;
  width: 16rem;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: medium;
}
button {
  border-radius: 10px;
  margin-top: 1rem;
  background-color: #eed3b1;
  color: #47663b;
  padding: 0.6rem 0;
  width: 10rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  box-shadow: 0 2px 7px #0000005f;
  cursor: pointer;
}
button:hover {
  background-color: #47663b;
  color: #eed3b1;
}
/* img style of the home page  */
.home-img {
  position: relative;
  top: 5rem;
  width: 17rem;
  aspect-ratio: 0.65;
  border-radius: 100px 10px 10px 10px;
  box-shadow: 0px 5px 10px #0000006c;
}
.home-img1 {
  position: relative;
  top: 10rem;
  width: 17rem;
  aspect-ratio: 0.65;
  border-radius: 0px 10px 10px 100px;
  box-shadow: 0px 5px 10px #0000006c;
}
/*  this is the about page  */
.about-page {
  position: relative;
  margin: 8rem 6rem;
}
h2 {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.about-page h2 {
  writing-mode: vertical-rl;
}
.about-page iframe {
  top: 3rem;
  left: 12rem;
  position: absolute;
  width: 50rem;
  background-color: var(--primary-color);
  border-radius: 0px 0px 100px 0px;
  padding: 2rem 6rem;
  border: none;
}
.decore1 {
  position: absolute;
  bottom: 3.3rem;
  left: 8rem;
  width: 8rem;
}
.decore2 {
  position: absolute;
  top: -1.5rem;
  right: 0rem;
  width: 8rem;
  transform: rotate(20deg);
}
.about-page p {
  position: absolute;
  bottom: 0;
  width: 50rem;
  text-align: center;
  left: 12rem;
}
/* this is the work page style */
.my-work {
  margin: 0 6rem;
  position: relative;
}
.decore3 {
  position: absolute;
  z-index: -50;
  left: 31rem;
  top: 0;
  width: 6rem;
  transform: rotate(-20deg);
}
.my-work .work-content {
  width: 30rem;
}
.my-work h2 {
  color: var(--primary-color);
}

.my-work p {
  margin: 1rem 1rem;
  background-color: var(--secondary-color);
  border-radius: 100px 100px 0 0;
  padding: 3rem;
  -webkit-animation: scale-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.work-content img {
  position: absolute;
  bottom: -2.5rem;
  width: 7rem;
  left: -2rem;
}
.my-work .images div:first-child img {
  position: absolute;
  width: 12rem;
  aspect-ratio: 0.9;
  right: 5rem;
  top: 2rem;
  border-radius: 40px;
  border: 5px solid #1f45295c;
}
.my-work .images div:nth-child(3) img {
  position: absolute;
  width: 12rem;
  aspect-ratio: 0.9;
  right: 20rem;
  top: 2rem;
  border-radius: 40px;
  border: 5px solid #1f45295c;
}
.my-work .images div:nth-child(2) video {
  position: absolute;
  width: 12rem;
  aspect-ratio: 0.9;
  right: 5rem;
  bottom: -1rem;
  border-radius: 40px;
  border: 5px solid #1f45295c;
}
.my-work .images div:nth-child(4) video {
  position: absolute;
  width: 12rem;
  aspect-ratio: 0.9;
  right: 20rem;
  bottom: -1rem;
  border-radius: 40px;
  border: 5px solid #1f45295c;
}
/* this is the contact style */
#contact {
  margin: 8rem 6rem;
  position: relative;
  background-color: var(--primary-color);
  border-radius: 100px 0 0 100px;
  padding: 1rem 1rem 10rem 1rem;
}
.decore5 {
  width: 30rem;
  aspect-ratio: 1.2;
  margin-top: 6rem;
}
.decore6 {
  position: absolute;
  top: 2.5rem;
  right: 0;
  transform: rotate(90deg);
}
.contact-form {
  position: absolute;
  right: 5rem;
  top: 1rem;
  width: 30rem;
}
.contact-form h2 {
  font-size: 2rem;
  margin: 1rem 0;
}
audio {
  margin: 1rem 0;
}
label {
  display: block;
  margin: 0.5rem 0;
  color: var(--background-color);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2rem;
}
input,
textarea {
  width: 70%;
  background-color: var(--background-color);
  border-radius: 10px;
}
input {
  padding: 0.7rem 1rem;
}
/* this is the footer style  */
.footer {
  background-color: #e8ecd7;
  height: auto;
  margin: 3rem 0;
  padding: 1rem 0;
}
.footer .social {
  display: block;
  text-align: center;
  right: 0;
}
.footer .social h2 {
  color: #1f4529;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.footer .social ul li {
  display: inline;
  text-align: center;
  margin: 0 8rem;
  color: #1f4529;
}
.footer .social ul li a {
  background-color: #1f4529;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #eed3b1;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2px;
}
.footer .rights {
  color: #1f4529;
  text-align: right;
  margin-right: 1.5rem;
}
/* animations keyframes  */
@-webkit-keyframes scale-in-right {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
}
@keyframes scale-in-right {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
}
